<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Homepage | The Best Anonymous Journaling Website</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
  <!-- Navigational bar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="#" class="navbar-brand">TITLE/LOGO OF PROJECT</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <form><button style="color: rgb(255, 255, 255, .9);">Home</button></form>
      </li>
      <li class="nav-item">
        <form action="/postPage" method="get"><button type="submit">Write a Post</button></form>
      </li>
    </ul>
  </nav>

  <div name="sectionOne">
    <h1 id="pageTitle">Anonymous journal writing and sharing made easy.</h1>
  </div>
  <div class="flexContainer">
    <!-- Presents all blog entries -->
    <% for (let entry of entries) { %>
    <div name="entry">
      <%= JSON.stringify(entry.title).replace(/['"]+/g,'') %> <br>
      <%= JSON.stringify(entry.user).replace(/['"]+/g,'') %> <br>
      <%= JSON.stringify(entry.newEntry).replace(/['"]+/g,'') %> <br>
      <div id="emojiBox">
        <div><img id="likeEmoji" src="assets/like.png" alt="Like"></div>
        <div><img id="dislikeEmoji" src="assets/dislike.png" alt="Dislike"></div>
        <div><img id="loveEmoji" src="assets/love.png" alt="Love Face"></div>
        <div><img id="happyEmoji" src="assets/happy.png" alt="Happy Face"></div>
        <div><img id="sadEmoji" src="assets/sad.png" alt="Sad Face"></div>
      </div>
    </div>
    <div class="flexContainer">
      <!-- Presents all blog entries -->
      <% for (let entry of entries) { %>
        <div name="entry">
            <%= JSON.stringify(entry.title).replace(/['"]+/g,'') %> <br>
            <%= JSON.stringify(entry.user).replace(/['"]+/g,'') %> <br>
            <%= JSON.stringify(entry.newEntry).replace(/['"]+/g,'') %>
            <!-- the thought process is to do this but its not working yet -->
        <!-- <img src= <%= JSON.stringify(entry.radio) %>  />
      <% } %> -->
        </div>
    </div>
     <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!-- JS -->
  <script src="script/index.js"></script>
    <footer></footer>
  </body>
</html>